* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Quicksand, sans-serif;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#global-content {
  position: fixed;
  height: 100%;
  width: 100%;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  width: 100%;
  height: 100%;
}

#barriers {
  background-image: url(images/barriers.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 50%;
  bottom: 0;
}

#night-video {
  height: 120%;
}

#presentation-elements {
  width: 100%;
  height: 100%;
  position: relative;
}

#main-character {
  position: absolute;
  height: 100%;
  right: 0;
  pointer-events: none;
  z-index: 10;
}

#info-pannel {
  position: absolute;
  height: 100%;
  width: 50%;
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
}

#pannel {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  box-sizing: border-box;
}

#pannel-text {
  position: absolute;
  height: 20%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#poster-position {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  bottom: 15%;
  left: 8%;
}

#projects {
  height: 70%;
  transition: all 0.3s ease-in-out;
  rotate: 5deg;
}

#travel {
  height: 70%;
  transition: all 0.3s ease-in-out;
  rotate: -5deg;
}

#projects:hover {
  transform: rotate(-5deg) scale(1.05);
}

#travel:hover {
  transform: rotate(5deg) scale(1.05);
}

@media (max-width: 780px) {
  #global-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  #main-character {
    display: none;
  }

  #info-pannel {
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
  }

  #pannel {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    box-sizing: border-box;
  }

  #poster-position {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
    bottom: 25%;
    left: 17%;
  }

  #projects-link {
    height: 50%;
    transition: all 0.3s ease-in-out;
    rotate: 5deg;
    box-sizing: border-box;
  }

  #travel-link {
    height: 50%;
    transition: all 0.3s ease-in-out;
    transform: rotate(-5deg) translateY(-20%);
  }

  #projects {
    width: 60%;
  }

  #travel {
    width: 60%;
  }

  #pannel-text {
    position: absolute;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    width: 60%;
    min-width: 60%;
  }
}

@media (max-width: 425px) {
  #poster-position {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    left: 0%;
    flex-direction: column;
    align-items: center;
    bottom: -20px;
  }

  #projects {
    width: 100%;
  }

  #travel {
    width: 100%;
  }

  #projects-link {
    rotate: -5deg;
    margin-left: 7%;
  }

  #travel-link {
    rotate: 10deg;
  }
}
