/* COULEURS */

:root {
  --base: #422219;
  --wood: #8d6946;
  --light-wood: #d0a67e;
  --yellow: #d0a67e;
  --green: #7e8347;
}

/* COULEURS */

* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Quicksand, sans-serif;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--base);
}

#global-content {
  position: fixed;
  height: 100%;
  width: 100%;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  width: 100%;
  height: 100%;
  opacity: 100%;
}

#barriers {
  background-image: url(images/barriers.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
  bottom: 0;
}

#night-video {
  height: 120%;
}

#presentation-elements {
  width: 100%;
  height: 100%;
  position: relative;
}

#main-character {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10;
}

#info-pannel {
  position: absolute;
  height: 100%;
  width: 50%;
  bottom: 0;
  left: 40%;
  transform: translateX(-50%);
}

#pannel {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  box-sizing: border-box;
}

#pannel-text {
  position: absolute;
  height: 20%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#poster-position {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  bottom: 15%;
  left: 8%;
}

#projects {
  height: 70%;
  transition: all 0.3s ease-in-out;
  rotate: 5deg;
}

#travel {
  height: 70%;
  transition: all 0.3s ease-in-out;
  rotate: -5deg;
}

#projects:hover {
  transform: rotate(-5deg) scale(1.05);
}

#travel:hover {
  transform: rotate(5deg) scale(1.05);
}

/* Responsive Accueil */

@media (max-width: 780px) {
  #global-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  #main-character {
    display: none;
  }

  #info-pannel {
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
  }

  #pannel {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    box-sizing: border-box;
  }

  #poster-position {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: center;
    bottom: 25%;
    left: 17%;
  }

  #projects-link {
    height: 50%;
    transition: all 0.3s ease-in-out;
    rotate: 5deg;
    box-sizing: border-box;
  }

  #travel-link {
    height: 50%;
    transition: all 0.3s ease-in-out;
    transform: rotate(-5deg) translateY(-20%);
  }

  #projects {
    width: 60%;
  }

  #travel {
    width: 60%;
  }

  #pannel-text {
    position: absolute;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    width: 60%;
    min-width: 60%;
  }
}

@media (max-width: 450px) {
  #poster-position {
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    left: 0%;
    flex-direction: column;
    align-items: center;
    bottom: -20px;
  }

  #projects {
    width: 100%;
  }

  #travel {
    width: 100%;
  }

  #projects-link {
    rotate: -5deg;
    margin-left: 7%;
  }

  #travel-link {
    rotate: 10deg;
  }
}

/* Page Projets */

#global-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#selection-contener {
  width: 70%;
  max-width: 800px;
  background-image: url(images/woodTexture.png);
  background-size: cover;

  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;

  padding: 20px;
  border: 5px solid var(--base);
  border-radius: 20px;
  flex-direction: column;
}

#selection-buttons {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.selection-button {
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
}

.selection-picture {
  width: 100%;
  max-width: 250px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.selection-picture:hover {
  transform: scale(1.05);
}

#main-character-projects {
  position: absolute;
  width: 40%;
  right: 0;
  pointer-events: none;
  z-index: 10;
  bottom: 0;
}

#selection-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: var(--base);
}

#hanging-lights {
  background-image: url(images/hanginglights.gif);
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100%;
  bottom: 0;
}

#selection-title2 {
  display: none;
}

/* Responsive Projets */

@media (max-width: 700px) {
  #selection-contener {
    flex-direction: column;
    margin-top: 200px;
  }

  #main-character-projects {
    display: none;
  }

  #selection-title2 {
    display: inline;
  }

  #selection-title {
    display: none;
  }
}
